@font-face {
    font-family: 'Roboto_reg';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fonts */

%reg{
    font-family: 'Roboto_reg', sans-serif;
}

%bold{
    font-family: 'Roboto_bold', sans-serif;
}

%playfair{
    font-family: 'Playfair Display', sans-serif;
}

%raleway{
    font-family: 'Raleway', sans-serif;
}

*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    button {
        cursor: pointer;
    }
}

body{
    @extend %reg;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%),
    url(../img/headbg1.jpg), no-repeat;
    background-size:cover;

    &-row{
        .header-head{
            display: flex;
            justify-content: space-between;
            padding-top: 3rem;
            align-items: center;
            .header-logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;
                .underlogo{
                    @extend %raleway;
                    text-transform: uppercase;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.12em;
                    color: #FFFFFF;
                }
            }

            .header-nav{
                .nav-tabs{
                    @extend %raleway;
                    text-decoration: none;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                    &:not(:last-child){
                        margin-right: 4rem;
                    }
                }
            }
        }

        .header-main{
            padding-top: 20rem;

            .mainheader{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items:center;
                @extend %playfair;
                font-weight: 900;
                font-size: 48px;
                line-height: 64px;
                text-align: center;
                color: #D4C17F;
                
                &::after{
                    content: '';
                    margin-top: 10rem;
                    display: block;
                    background: url(../img/mouse.svg), no-repeat, 100%;
                    height: 4rem;
                    width: 4rem;
                    margin-bottom: 15rem;
                }
            }
        }

        .header-footer{
            padding-top: 5rem;
            display: flex;
            justify-content: center;
            align-items:center;
            padding-bottom: 7.4rem;
            .header-adress{
                display: flex;
                justify-content: center;
                align-items:center;
                @extend %raleway;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                margin-right: 10rem;
                &::before{
                    content: '';
                    background: url(../img/adress.svg), no-repeat, 100%;
                    display: block;
                    height: 2.1rem;
                    width: 2.1rem;
                    margin-right: 1.5rem;
                }
            }
            .header-telephone{
                display: flex;
                justify-content: center;
                align-items:center;
                @extend %raleway;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                &::before {
                    content: '';
                    background: url(../img/telephone.svg), no-repeat, 100%;
                    display: block;
                    height: 2.1rem;
                    width: 2.1rem;
                    margin-right: 1.5rem;
                }
            }
        }
    }
}

.advantages{
    background: #242B33 url(../img/II.png) no-repeat;
    background-position: 95%;
    padding-top: 16rem;
    padding-bottom: 16rem;
    &-row{
        display: flex;
        justify-content: space-around;
        .adv-tabs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-img{
                margin-bottom: 3.3rem;
            }
            &-text{
                text-align: center;
                font-weight: 300;
                font-size: 20px;
                line-height: 27px;
                color: #FFFFFF;
            }
        }
    }
}

.works{
    background: #242B33 url(../img/III.png) no-repeat;
    background-position: 5% 18%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    &-row{
        .works-header{
            margin-bottom: 10rem;
            .workh3{
                @extend %playfair;
                font-size: 36px;
                line-height: 48px;
                font-weight: 900;
                color: #D4C17F;
            }
        }

        .works-slider{
            position: relative;
            .slick-arrow{
                position: absolute;
                top: 47%;
                z-index: 10;
                font-size: 0;
                width: 66px;
                height: 66px;
                border: none;
                border-radius: 50%;
                
            }

            .slick-prev{
               left: -10.5%;
               background-color:#242B43;
               width: 60px;
               height: 60px;
               border-top: 10px solid rgba(80, 69, 110, 0.644);
               border-right: 10px solid rgba(80, 69, 110, 0.644);
               margin-right: 60px;
               transform: rotate(-135deg);
               
                
            }

            .slick-next{
                right: -10%;
                background-color:#242B43;
                width: 60px;
                height: 60px;
                border-top: 10px solid rgba(80, 69, 110, 0.644);
                border-right: 10px solid rgba(80, 69, 110, 0.644);
                margin-right: 60px;
                transform: rotate(45deg);

                
            }
            .slider-block{
                display: flex;
                flex-basis: 100%;
            
            .leftblock{
                flex-basis: 50%;
                .slider-tab {
                    text-decoration: none;

                    .slider-header3 {
                        background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(../img/3etages.jpg) no-repeat;
                        padding: 24.8rem 13.2rem 5rem 5rem;
                        @extend %raleway;
                        font-size: 24px;
                        line-height: 28px;
                        color: #FFFFFF;
                    }

                }
            }

            .rightblock{
                flex-basis: 50%;
                .slider-tab{
                    text-decoration: none;
                    .slider-header2 {
                        background: linear-gradient(180deg, rgba(36, 43, 51, 0) 0%, #242B33 100%), url(../img/2etages.jpg) no-repeat;
                        padding: 24.8rem 13.2rem 5rem 5rem;
                        @extend %raleway;
                        font-size: 24px;
                        line-height: 28px;
                        color: #FFFFFF;
                    }
                }
            }
        }
            
        }
    }
}

.watch{
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%),linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url(../img/watchbg.jpg), #C4C4C4;
    padding-top: 1rem;
    &-row{
        .watch-header{
            margin-top: 18rem;
            @extend %playfair;
            font-size: 36px;
            line-height: 48px;
            font-weight: 900;
            color: #D4C17F;
        }

        .watch-main{
            display: flex;
            justify-content: space-between;
            align-items:center;
            flex-basis: 100%;
            padding-bottom: 18rem;
            &-underheader{
                flex-basis: 50%;
                @extend %raleway;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }

            .watchform{
                flex-basis: 50%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items:center;
                .watchinput{
                    @extend %raleway;
                    padding: 2rem 7rem;
                    border:none;
                    background: #FFFFFF;
                    opacity: 0.2;
                    font-size: 14px;
                    line-height: 27px;
                    text-align: center;
                    color: rgb(3, 3, 3);
                    margin-bottom: 3.5rem;

                    &:not(:last-child){
                        margin-right: 0.4rem;
                    }
                }
                .watchsecondtext{
                    justify-self: center;
                    @extend %raleway;
                    font-size: 13px;
                    line-height: 16px;
                    text-align:center;
                    color: #E7E7E7;
                    margin-right: 5.25rem;
                    margin-left: 0.5rem;
                }
                .watchbutton{
                    border:none;
                    padding: 2rem 6.7rem;
                    @extend %raleway;
                    font-size: 16px;
                    line-height: 27px;
                    font-weight: 900;
                    background: #D4C17F;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
    }
}

.videoblock{
    background: #242B33 url(../img/IV.png) no-repeat;
    background-position: 80% 35%;
    padding-bottom: 18rem;
    &-row{
        .video{
            width: 719px;
            height: 550px;
           background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8)),
           url(../img/video.jpg), #626262;
           position: relative;
            .videoplay{
                position: absolute;
                top: 40%;
                left: 45%;
            }
        }
    }
}

.questions{
     background: #242B33;
     padding-top: 1rem;
     padding-bottom: 18rem;
    &-row{
        .questheader{
            @extend %playfair;
            font-size: 36px;
            line-height: 48px;
            font-weight: 900;
            color: #D4C17F;
            margin-bottom: 5rem;
        }

        .questcontent{
            display: flex;
            justify-content: space-between;
            align-items:center;
            .questsecondinfo{
                @extend %raleway;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                color: #E7E7E7;
            }
            .questinput{
                border:none;
                @extend %playfair;
                font-size: 14px;
                line-height: 27px;
                color: rgb(3, 3, 3);
                background: #FFFFFF;
                opacity: 0.2;
                padding: 2rem 6rem;
                text-align: center;
            }
            .questbutton{
                border:none;
                padding: 2rem 6rem;
                @extend %playfair;
                font-size: 16px;
                line-height: 27px;
                color: #FFFFFF;
                text-align: center;
                background: #D4C17F;
            }
        }
    }
}

.footer{
    background: #2D343C;
    padding-top: 1rem;
    &-row{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-bottom: 6rem;
        margin-top: 6rem;
        .footer-logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .underlogo {
                @extend %raleway;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.12em;
                color: #FFFFFF;
            }
        }

        .footertabl1{
            list-style: none;
            .tabl1-tabs{
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
                .tabl1-text{
                    text-decoration: none;
                    @extend %raleway;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                }
        }
            
        }
        .footertabl2{
          list-style: none;

          .tabl2-tabs {
              &:not(:last-child) {
                  margin-bottom: 1.5rem;
              }

              .tabl2-text {
                  text-decoration: none;
                  @extend %raleway;
                  font-size: 14px;
                  line-height: 16px;
                  letter-spacing: 0.05em;
                  color: #FFFFFF;
              }
          }

        }

        .footertabl3 {
            list-style: none;

            .tabl3-tabs {
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }

                .tabl3-text {
                    text-decoration: none;
                    @extend %raleway;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.05em;
                    color: #FFFFFF;
                }
                .internet{
                    display: flex;
                    justify-content: space-between;
                    align-items:center;
                }
            }

        }

    }
}